<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
          $("button").click(function(){
            var $key = $("#myInput").val();
            $.get("http://localhost:8080/search/"+$key, function(data, status){
                for (i = 0; i < data.length; i++) {
                    alert("Row " + i + ": " + data[i] + "\n");
                }
            });
          });
        });
</script>
</head>
<body>

<h2>Instant Search</h2>


<input type="text" id="myInput" placeholder="Search for name..">
<button type="button">Search</button>
</body>
</html>